@charset "UTF-8";
/*===========
| 레이아웃    |
 =============*/
#wrap {
  width: 100%;
  height: 100%;
}
#wrap #container_top_margin {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
#wrap #content {
  width: 100%;
  height: auto;
}

/*===========
|    spot    |
 =============*/
.spot {
  width: 100%;
  height: 334px;
  background: url(../img/bg_contact.jpg) no-repeat 50%;
}
.spot .spot_txt {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.spot .spot_txt .txt_ctn {
  width: 100%;
  line-height: 334px;
  letter-spacing: 4px;
  color: #fff;
}

/*===================
|    section 설정    |
 ===================*/
.section_row {
  width: 100%;
  height: auto;
}
.section_row .section_inner_margin {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

/*===============
|    content    |
 =============*/
/* contact_icon 시작  */
.contact_icon_wrap {
  height: 120px;
  padding: 40px 0;
  background: #fff;
}
.contact_icon_wrap ul {
  width: 100%;
  height: auto;
}
.contact_icon_wrap ul::after {
  content: '';
  display: block;
  clear: both;
}
.contact_icon_wrap ul li {
  float: left;
  width: 30%;
  height: auto;
  padding: 0 15px;
}
.contact_icon_wrap ul li span {
  display: inline-block;
  width: 65px;
  height: 65px;
  background: #ffe600;
  border-radius: 50%;
}
.contact_icon_wrap ul li span i {
  display: block;
  width: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 30px;
  color: #393939;
}

i.location_alt::before {
  content: '\f3c5';
}

i.fa-phone::before {
  content: '\f095';
}

i.fa-envelope::before {
  content: '\f0e0';
}

.location {
  float: right;
  width: 230px;
}
.location h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #3d3d3d;
  font-weight: 700;
}
.location p {
  font-size: 14px;
  color: #c1c1c1;
}

/*form wrap 시작*/
.contact_from_wrap {
  padding: 75px 0 80px;
  background: #f5f5f5;
}
.contact_from_wrap h4 {
  margin-bottom: 30px;
  color: #fad000;
}
.contact_from_wrap h5 {
  margin-bottom: 30px;
  font-size: 46px;
  color: #393939;
}
.contact_from_wrap form > strong {
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  color: #393939;
}
.contact_from_wrap form > strong span {
  display: inline-block;
  margin-right: 8px;
  padding-right: 7px;
  border-right: 1px solid #c7c7c7;
}

.Platform_colum, .agency_colum, .topic_colum {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 15px 0 30px;
}
.Platform_colum::after, .agency_colum::after, .topic_colum::after {
  content: '';
  display: block;
  clear: both;
}

.three_colum {
  float: left;
  width: 33.33%;
  height: 50px;
  margin-bottom: 15px;
}

.two_colum {
  float: left;
  width: 50%;
  height: 50px;
  margin-bottom: 15px;
}

.colum_inner {
  width: 95%;
  height: 50px;
}
.colum_inner input[type=checkbox] {
  display: none;
}
.colum_inner input[type=checkbox]:checked + label {
  background: #fad000;
}
.colum_inner input[type=checkbox]:checked + label::before {
  display: inline-block;
  content: '';
  width: 22px;
  height: 16px;
  margin: -1px 8px 1px 0;
  vertical-align: middle;
  background: url(../img/ico_check.png) no-repeat 50%;
}
.colum_inner input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 50px;
  background: #fff;
  cursor: pointer;
  text-align: center;
}
.colum_inner input[type=checkbox] + label span {
  vertical-align: middle;
  font-size: 13px;
  color: #787878;
}

.text_colum {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin-top: 15px;
}
.text_colum input, .text_colum textarea {
  margin-bottom: 15px;
}
.text_colum input[type=text], .text_colum textarea {
  height: 20px;
  border: 0px;
  padding: 10px 17px;
}
.text_colum input[type=text]:focus, .text_colum textarea:focus {
  border: 1px solid #ffe600;
  outline: none;
}
.text_colum input[type=text].one_colum, .text_colum textarea.one_colum {
  width: 95%;
}

textarea.one_colum {
  height: 200px;
  resize: none;
}

.txt_two_colum {
  width: 95%;
}

.file_colum {
  width: 95%;
  max-width: 1100px;
  height: auto;
  margin-bottom: 30px;
}
.file_colum input {
  display: none;
}
.file_colum input + label {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  background: #fff;
  cursor: pointer;
  padding: 0 17px;
}
.file_colum input + label span {
  font-size: 13px;
  color: #787878;
}
.file_colum input + label img {
  position: absolute;
  top: 25%;
  right: 10px;
}

.infm strong {
  font-size: 16px;
  color: #3d3d3d;
}
.infm strong span {
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
}
.infm ul {
  width: 100%;
  max-width: 1045px;
  height: auto;
  padding: 11px 16px 15px;
  margin: 7px 0 6px;
  border: 1px solid #ccc;
  background: #fff;
}
.infm ul li {
  position: relative;
  line-height: 23px;
  padding-left: 9px;
  font-size: 14px;
  color: #3d3d3d;
}
.infm ul li::before {
  position: absolute;
  left: 0;
  top: 12px;
  content: '';
  width: 3px;
  height: 3px;
  background: #9f9f9f;
}
.infm input[type=checkbox] {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0px;
  background: url(../img/sp_chkbx.png) no-repeat;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.infm input[type=checkbox]:checked {
  background-position: 0 -19px;
}
.infm label {
  display: inline-block;
  line-height: 23px;
  font-size: 14px;
  color: #3d3d3d;
  margin-left: 6px;
  vertical-align: middle;
}

input[type=submit] {
  display: block;
  width: 245px;
  height: 50px;
  line-height: 48px;
  margin: 10px auto 0;
  font-size: 21px;
  background: #d6d6d6;
  font-weight: 800;
  color: #999;
  border: 2px solid #d4d4d4;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.ready {
  border: 2px solid #ffe600;
  background: #ffe600;
  color: #3d3d3d;
}

/*# sourceMappingURL=contact.css.map */