@charset "utf-8";
.header{
  width: 100%;
  height: auto;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
}
.header>.gnb{
  width: 100%;
  max-width: 1100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
  transition: all 0.3s;
}
.header>.gnb>.logo{
  width: 176px;
  height: auto;
}
/*
.header>.gnb>.logo>a>img{
}
*/
.header>.gnb>ul{
  width: 640px;
  height: auto;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}
.header>.gnb>ul>li{
  width: 50px;
  height: auto;
  line-height: 100px;
  padding: 0 24px;
  float: left;
  font-size: 12px;
  text-align: center;
}
.header>.gnb>ul>li>a{
  color: #9f9f9f;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: 2px;
}
.header>.gnb>ul>li:nth-of-type(6)>a{
  color: #3d3d3d;
}